.promo {
  background: #465dff;
  display: flex;
  justify-content: space-between;
  padding: 75px 70px;
}

.promo__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.promo__title {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  text-align: left;
  margin: 0;
  max-width: 640px;
  margin-bottom: 36px;
}

.promo__subtitle {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-align: left;
  max-width: 310px;
  margin-bottom: 146px;
  opacity: 0.5;
}

.promo__image {
  width: 310px;
  height: 304px;
}

.promo__button {
  width: 129px;
  height: 36px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__link {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.promo__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .promo {
    flex-direction: column-reverse;
    align-items: center;
    padding: 140px 44px 76px 44px;
  }
  .promo__title {
    text-align: center;
    font-size: 40px;
    line-height: 50px; /* 125% */
    margin-top: 48px;
    margin-bottom: 22px;
  }
  .promo__subtitle {
    text-align: center;
    align-self: center;
    margin-bottom: 92px;
  }
  .promo__button {
    align-self: center;
  }
}

@media screen and (max-width: 425px) {
  .promo {
    flex-direction: column-reverse;
    align-items: center;
    padding: 70px 10px 30px 10px;
  }
  .promo__title {
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.2px;
    margin-top: 44px;
    margin-bottom: 24px;
  }
  .promo__image {
    width: 210px;
    height: 206px;
  }
  .promo__subtitle {
    width: 260px;
    margin-bottom: 79px;
  }
}
