.register {
  padding: 70px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__form {
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.register__input-container {
  width: 100%;
  text-align: start;
  margin-bottom: 20px;
}

.register__input-container:last-of-type {
  margin-bottom: 10px;
}

.register__input {
  width: 366px;
  border-radius: 8px;
  background: #f9f9f9;
  height: 46px;
  border: none;
  padding: 0 15px;
  outline: none;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.register__title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 40px 0;
}

.register__text {
  color: #a0a0a0;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-bottom: 10px;
}

.register__validation {
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-bottom: 69px;
}

.register__input_incorrect {
  color: #ee3465;
}

.register__button {
  border-radius: 3px;
  background: #ff6838;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  height: 45px;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
}

.register__registred {
  color: #a0a0a0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 16px;
  text-align: center;
  width: 100%;
}

.register__link {
  text-decoration: none;
  color: #ff6838;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-left: 6px;
}

@media screen and (max-width: 768px) {
  .register {
    padding: 232px 0px;
  }
}

@media screen and (max-width: 525px) {
  .register {
    padding: 56px 0 30px 0;
  }

  .register__input {
    font-size: 13px;
    width: 230px;
  }
  .register__title {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .register__form {
    align-items: center;
    width: 260px;
  }
  .register__validation {
    align-self: flex-start;
    margin-bottom: 172px;
  }
  .register__button {
    font-size: 12px;
  }
  .register__registred {
    font-size: 12px;
  }
  .register__link {
    font-size: 12px;
    margin-left: 7px;
  }
}
